.btn-square-md {
    width: 100px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 100px !important;
    text-align: center;
    padding: 0px;
    /* font-size: 10px; */
}

/* #image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url(./images/dividedTank.png);
    /* background-size: 200px 200px; */
    height: 100%;
} */

