body {
    font-family: 'Crimson Text', serif;
    font-family: 'Sedgwick Ave Display', cursive;
}

.backImg {
    background-image: url(./images/dividedTank.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* color: aliceblue; */
    /* text-align: center; */
}

.jorm {
    background-image: url(./images/Jocie.png);
}

.mal {
    background-image: url(./images/Carole.png);
}

#title {
    font-size: 100px;
    padding: 50px;
}

h1, .player {
    color: white;
    text-align: center;
}

.bettaImg {
    border-style: solid;
    border-color: #1cd6bd;
    border-width: 15px;
    padding:90px;
    margin: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center mask text-light d-flex justify-content-center flex-column text-top;
}

.gameContainer {
    grid-template-columns: 3;
    grid-template-rows: 3;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    justify-content: center;
}

.grid-item {
    border: 10px solid #a7521e;
    padding: 20px;
    font-size: 150px;
    text-align: center;
    color:#1cd6bd;
    height: 300px;
    width: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#clear {
    background-color:#1cd6bd;
    justify-content: center;
    padding: 20px;
    font-size: 40px;
}

.alert {
    color:#1cd6bd;
}